<%= javascript_pack_tag 'application' %>
<div class="row">
  <div class='sidebar u-p12'>
      <ul class=' sidebar-list'>
        <li> <i class="nav__icon fa fa-circle-o fa-lg"></i> </li>
        <li> <i class="nav__icon fa fa-circle-o fa-lg"></i> </li>
        <li> <i class="nav__icon fa fa-circle-o fa-lg"></i> </li>
        <li> <i class="nav__icon fa fa-circle-o fa-lg"></i> </li>
      </ul>
  </div>
  <div class="row showcase">
    <% 12.times do %>
      <div class="column column-25">
        <div class="cart">
        </div>
      </div>
    <% end %>
  </div>
</div>
