<%= javascript_pack_tag 'application' %>
<h3> Hello from <%= @framework_name %>! This is empty app. </h3>
<p>open web-browser console and look at hello message from webpack</p>
<p>open your terminal and look at hello message from sidekiq</p>
<ul>this app contain:
  <li>Rails</li>
  <li>Postgresql</li>
  <li>dotenv</li>
  <li>Docker, docker-compose</li>
  <li>Webpack, yarn</li>
  <li>Rspec, capybara, factory girl</li>
  <li>milligram.css</li>
  <li>Redis, sidekiq</li>
  <li>Mailcatcher</li>
</ul>
