.control-buttons {
  padding: 10px;
  .button {
    margin-right: 5px;
  }
}
.control-icon {
  color: $text-color;
  cursor: pointer;
  opacity: .7;
  margin: 0 5px;
  &:hover {
    opacity: 1;
  }
}
