.basket {
  display: inline-block;
  position: relative;
}
.basket__to-cart {
  margin-bottom: 0;
  width: 100%;
}
.basket__counter {
  background: #fff;
  border: 1px solid $light-main-color;
  width: 20px;
  height: 20px;
  font-size: 0.7em;
  padding: 1px;
  position: absolute;
  text-align: center;
  right: -11px;
  top: -9px;
  border-radius: 50%;
  color: $main-color;
  pointer-events: none;
}

.basket__content-base {
  position: absolute;
  width: 375px;
  @include box-shadow();
  @include border-radius(2px);
  background-color: #fff;
  z-index: 9;
  top: 35px;
  right: -15px;
}

.basket__content {
  @extend .basket__content-base;
  display: none;
}
.basket__content_show {
  @extend .basket__content-base;
  display: block;
}

.basket__content-arrow {
  content: '';
  display: block;
  right: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  border-width: 5px;
}

.basket__content_show:after {
  @extend .basket__content-arrow;
  top: -9px;
  border-color: transparent transparent #fff transparent;
}
.basket__content_show:before {
  @extend .basket__content-arrow;
  top: -11px;
  border-color: transparent transparent $light-main-color transparent;
}

.basket__info {
  padding: 13px 0;
  text-align: center;

  .basket__info-count {
    text-align: right;
    display: inline-block;
    vertical-align: top;
    padding-right: 7px;
  }
  .basket__info-price {
    padding-left: 7px;
    text-align: left;
    border-left: 1px solid;
  }
}

.empty-basket {
  text-align: center;
  margin-top: 20px;
}
