.showcase {
  .column {
    padding: 0px;
  }
}
.cart_hover {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid $light-main-color !important;
  margin-bottom: -48px !important;
  z-index: 2;
  background-color: #fff;
}

.cart {
  position: relative;
  border-radius: 5px;
  border: 1px solid transparent;
  margin-bottom: 0;
  background-color: #fff;

  .cart__button {
    position: relative;
    display: none;
  }
  .cart__button_hover {
    display: block;
    width: 100%;
  }
  .cart__top-menu {
      position: absolute;
      margin: 5px;
      top: 0;
      right: 0;
      opacity: 0;
      height: 15px;
      width: 15px;
      cursor: pointer;
      i:hover {
        color: $main-color;
      }
  }

  .cart__image {
    text-align: center;
    margin: 15px auto 0 auto;
    min-height: 160px;
  }
  margin: 6px 6px 0 0;
  .cart__info {
    margin: 10px;
  }
}
