.full-product {
}

.full-product__thumb-image {
  width: 82px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  &:hover {
    border: 1px solid $light-main-color;
  }
}

.full-product__slider-wrapper {
  padding: 2px 30px;
}

.full-product__buttons {
  padding: 0 70px 0 0;
  button, a {
    width: 80%;
  }
}

.product__for-example {
  position: relative;
  cursor: pointer;
  p {
    &:after {
      @extend .product__base-arrow;
      bottom: -9px;
      border-color: #fff transparent transparent transparent;
    }
    &:before {
      @extend .product__base-arrow;
      bottom: -11px;
      border-color: $light-main-color transparent transparent transparent;
    }
    z-index: 12;
    @include box-shadow();
    @include border-radius(2px);
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    padding: 5px;
  }
}

.product__base-arrow {
  content: '';
  display: block;
  left: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  border-width: 5px;
}
