.modal-product__content {
  min-height: 450px;
}
.modal-product {
    outline: none;
    @include box-shadow();
    @include border-radius(2px);
    width: 846px;
    position: absolute;
    left: 50%;
    margin-left: -423px;
    background: #fff;
    top: 25%;
    padding: 0 10px 10px 10px;
}
.modal-product__right-side {
  float: left;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 314px;

}
.modal-product__left-side {
  float: left;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 500px;
}
.modal-product__overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
  background-color: rgba(255,255,255,0.7);
}
.modal-product__big-image {
  max-width: 500px;
}
.modal-product__thumb-image {
  width: 82px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  &:hover {
    border: 1px solid $light-main-color;
  }
}

.modal-product__slider-wrapper {
  padding: 2px 30px;
}

.modal-product__big-image-wrapper {
  max-width: 500px;
  min-height: 325px;
}

.modal-product__titlebar {
  height: 20px;
  text-align: right;
  font-weight: normal;

  i {
    color: $text-color;
    cursor: pointer;
    &:hover {
      color: $text-color;
    }
  }
}
.modal-product__buttons {
  padding: 10px 70px 70px 0;
  button, a {
    width: 100%;
  }
}

.modal-product__arrows {
  position: absolute;
  font-size: 25px;
  top: 50%;
  margin-top: -15px;
  cursor: pointer;

}
.modal-product__left-arrow {
  @extend .modal-product__arrows;
  left: -100px;
}

.modal-product__right-arrow {
  @extend .modal-product__arrows;
  right: -100px;
}
