.nav {
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  align-items: center;

  .nav__right {
    margin-left: auto;
  }

  input {
    margin-bottom: 0;
  }
}

.nav__icon_active {
  color: $main-color;
}
.nav__icon_selected {
  background-color: lighten($light-main-color, 10%);
  color: $main-color;
  border-radius: 1px;
  transition: background-color 1s;
}

.brand__logo {
  float: left;
  margin: 2px 0 0 3px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.brand__title {
  display: inline-block;
  color: $text-color;
  font-size: large;
  font-weight: bold;
  &:hover {
    color: $text-color;
  }
  margin: 6px 0 2px 5px;
}

.nav__icon {
  margin: 0 auto;
  padding: 0 3px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.header__icon {
  margin: 0 auto;
  padding: 0 3px;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.nav__icon:hover {
  color: $main-color;
}
.nav-sub-categories {
  @include box-shadow();
  @include border-radius(2px);
  z-index: 3;
  display: none;
  width: 200px;
  background: #fff;
  position: relative;
  min-height: 200px;
  border-radius: 2px;
  padding: 0px 10px 0 15px;
  b {
    display: block;
    border-bottom: 1px solid #f4f5f6;
  }
  ul {
    list-style: none;
  }
}

.nav-sub-categories:after,
.nav-sub-categories:before {
  content: '';
  display: block;
  right: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}

.nav-sub-categories:after {
  top: 8px;
  border-color: transparent #fff transparent transparent;
  border-width: 5px;
}
.nav-sub-categories:before {
  top: 7px;
  border-color: transparent $light-main-color transparent transparent;
  border-width: 6px;
}

.nav__collections {
  padding-top: 10px;
  border-top: $light-gray solid 2px;
}

.nav__social-list {
  border-top: 1px solid $light-main-color;
  padding: 5px 0;
  margin-bottom: 0px;
  text-align: center;
  li {
    display: inline;
    margin: 0 8px;
  }
}
