.nav {
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  align-items: center;

  .nav__icon {
    padding: 0 3px;
  }
  .nav__right {
    margin-left: auto;
  }

  input {
    margin-bottom: 0;
  }
}
.nav-sub-categories {
  display: none;
  top: -5px;
  left: -5px;
  width: 200px;
  background: #fff;
  border: 1px solid #9b4dca;
  position: relative;
  min-height: 200px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
}

.nav-sub-categories:after,
.nav-sub-categories:before {
  content: '';
  display: block;
  right: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}

.nav-sub-categories:after {
  top: 8px;
  border-color: transparent #fff transparent transparent;
  border-width: 5px;
}
.nav-sub-categories:before {
  top: 7px;
  border-color: transparent #9b4dca transparent transparent;
  border-width: 6px;
}
