.to-top {
  position: relative;
  width: 33px;
  height: 10px;

  .to-top__button {
    display: block;
    position: fixed;
    width: inherit;
    bottom: 100px;
    cursor: pointer;
    min-width: 20px;
    text-align: center;

    .to-top__icon {
      color: $light-main-color;
      &:hover {
        color: $main-color;
      }
    }
  }
}
