.u-table-img {
  max-width: 300px;
}
.u-px0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.u-p12 {
  padding: 12px;
}
.u-m12 {
  margin: 12px;
}

.u-my12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.u-m6 {
  margin: 6px;
}

.u-mb6 {
  margin-bottom: 6px;
}

.u-no-list-style {
  list-style-type: none;
}

.lazyload, .lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}

* {
  min-height: 0;
  min-width: 0;
}

body {
  overflow-y: scroll;
}

.tether-enabled {
  z-index: 5;
}

.u-page-title {
  padding-left: 0;
  padding-top: 0;
  margin-bottom: 4px;

}
.container__wrapper {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.input_invalid {
  border-color:  #D32F2F !important;
  box-shadow: 0 1px 3px rgba(211,47,47,.2) !important;
}
