<!DOCTYPE html>
<html>
  <head>
    <title>Hm Shop</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  </head>

  <body>
    <div class="container">
      <div class="row nav u-p12">
        <i class="nav__icon fa fa-rocket fa-lg"></i>
        <div class="nav__right">
          <i class="nav__icon fa fa-search fa-lg"></i>
          <i class="nav__icon fa fa-bars fa-lg"></i>
          <i class="nav__icon fa fa-shopping-cart fa-lg"></i>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
