<!DOCTYPE html>
<html>
  <head>
    <title>Hm Shop</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  </head>

  <body>
  <script type="text/javascript" charset="utf-8">
    var $sharedVariables = <%= @json_categories.html_safe %>
  </script>
    <div class="container">
      <div id="root"></div>
      <%= yield %>
    </div>
  </body>
</html>
